    <nav class="navbar navbar-expand-sm navbar-black bg-black" id="1stcard" >
    <div>
        <a href="http://argentinaprograma.inti.gob.ar" title="a">
            <img  class="logos"src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1647226457/APLogo-20-20.png" alt="logo" width="100">
           
        </a>
        <span id="titulo">Portfolio</span>
    </div>
    <div class="RS">
        <a href="#" title="RS">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/1200px-2021_Facebook_icon.svg.png" alt="" width="30">
        </a>
        <a href="#" title="RS">
            <img class="logos" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"alt="" width="36">
        </a>
        <button class="btn btn-primary">Iniciar sesion</button>
    </div>    
    </nav>
    