<div class="carta card" id="1stcard">
    <img src="https://nimblesol.com/images/itservicesur.jpg" alt="">
    <div id="persona">
        <div class="foto">
        <img id="foto" class="img-thumbnail"src="https://media-exp1.licdn.com/dms/image/C4E03AQFtBk2_Qug1DA/profile-displayphoto-shrink_200_200/0/1601244586807?e=2147483647&v=beta&t=rtiGUawSDcMh7_kLYITnNS5cyKrksQe1GW59v8yhay0" alt="">
        <div >
            <h2 class="fotodescripcion">{{miPorfolio?.nombre}}</h2> 
            <h6 class="fotodescripcion">{{miPorfolio?.titulo}}</h6>
        </div>
    </div>
    </div>
    <div id="descripcion">
        <div class="container">
            <div class="row">
                <div class="col-sm-11">
                    <h3>Sobre mi</h3>
                </div>
                <div class="col-sm-1">
                    <a  alt="edit"><i class="fas fa-pencil-alt"></i></a>
                </div>
            </div>
        </div>
        <textarea readonly id="about" title="sobre mi" rows="6">{{miPorfolio?.about}}</textarea>
    </div>